body{
	background: url('../assets/background.png');
	background-size: cover;
	margin: 0;
	font-family: system-ui;
    color: #fff;
    
}
footer {
	width: 100%;
	height: 30px;
	background: transparent;
    backdrop-filter: blur(140px);
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	
}
.left,.right{
	display: flex;
    margin: 0;
    padding: 0;

}
footer div{
	/*margin: 0 7px;*/
	padding: 6px 9px;
	
}
.left div:hover , .right div:hover{
	background-color: #bfa1a166;
	
}
.Cortana{
	width: 18px;
    height: 18px;
    
}
.TaskView img{
	width: 18px;
    padding: 0;
    margin: 0;
	transform: scale(1.3);
}
.TaskView:hover img{
	transform: scale(1.3);
}
.Network{
	padding: 6px 4px;
}
.Network img, .Speaker img{
	width: 17px;
}
.Txt{
	font-family: system-ui;
    color: #fff;
    font-size: 11.5px;
}
.ENG{
	padding: 6px 7px;
}
.Message{
	padding: 4px 3px;
    margin-right: 8px;
}
.Message img{
	
}
.Hide{
	border-left: 1px solid #fff;
    margin: 0;
    padding: 2px;
    opacity: 0.5;
}
.ShowH{
	padding: 6px 6px;
}
.Speaker{
	padding: 6px 3px;
}
.right div{
	position: relative;
	z-index: 4;
}
#valum{
	font-size: 1.6em;
}
/*SpeakerBox*/
.SpeakerContent{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
.SpeakerBox{
	width: 330px;
    height: 100px;
	padding: 0 16px;
	background-color: #795548;;
    backdrop-filter: blur(265px);
    mix-blend-mode: hard-light;
	position: fixed;
	/*30px Top */
	bottom: -100px;
	right: 0;
	transition: all 1s cubic-bezier(0, 0.97, 0.07, 0.93) 0s;
	
}
.SpeakerBox h3{
	font-family: system-ui;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}
.SpeakerIcon img{
	width: 28px;
    padding: 0 12px;
}
.RangeSpeaker input{
	width:100%;
}
/*Speaker Thmb:*/

.RangeSpeaker input[type=range] {
  height: 40px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
  width: 267px;
  padding: 0;
  margin: 0px -13px 0 0;
  margin-right: 5px;

}
.RangeSpeaker input[type=range]:focus {
  outline: none;
}
.RangeSpeaker input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #3071A9;
  border-radius: 0px;
  border: 1px solid transparent;
  backdrop-filter: blur(45);
  mix-blend-mode: luminosity;
  
}
.RangeSpeaker input[type=range]::-webkit-slider-thumb {
  /*box-shadow: 1px 1px 1px #000000;*/
  border: 1px solid #50506c;
  backdrop-filter: blur(45);
  mix-blend-mode: luminosity;
  height: 28px;
  width: 10px;
  border-radius: 50px;
  background: #50506c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.5px;
}
.RangeSpeaker input[type=range]::-webkit-slider-thumb:hover{
	background: #fff
}
.RangeSpeaker input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3071A9;
}
.RangeSpeaker input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #3071A9;
  border-radius: 0px;
  border: 1px solid #000000;
}
.RangeSpeaker input[type=range]::-moz-range-thumb {
  /*box-shadow: 1px 1px 1px #000000;*/
  border: 1px solid #000000;
  height: 32px;
  width: 10px;
  border-radius: 50px;
  background: #50506c;
  cursor: pointer;
}
.RangeSpeaker input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.RangeSpeaker input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
.RangeSpeaker input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
.RangeSpeaker input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 32px;
  width: 10px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}
.RangeSpeaker input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
.RangeSpeaker input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}

/*Desktop Environment: */
.DesktopEnvironment{
	width: 100% !important;
    height: calc(100% - 30px) !important;
}

/*Style selectorDesktop */

#selectorDesktop{
	position: fixed;
	
	border: 1px solid #3f51b5;
    background-color: #2196f363;
}